extends layout

block content
  div(ng-controller='BugListController as bugList')
    h1= title
    p Welcome to #{title}
    div(ng-hide='user')
      h1(ng-bind='user')
      input(ng-model='username')
      input(type='password',ng-model='password')
      button(ng-click='bugList.login()') login
    button(ng-click='bugList.load()') get zendao bug list
    div#buglist
      div(ng-repeat='bug in bugList.list')
        h1(ng-bind='bug.title')
        a(ng-href='{{bug.href}}',target='_blank') detail
