doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='/jspm_packages/system.js')
    script(src='/config.js')
    script System.import('lib/main.js');
  body
    block content
